@model PlayNow.Models.GameListViewModel
@{
    ViewBag.Title = "GameInvitePartial";
}


@Html.AntiForgeryToken()

<h2>Game Sessions You've Been Invited To</h2>

<div>
    <table class="table">
        <thead>
            <tr style="margin-bottom:20px">
                <th class="tableTitle">Join</th>
                <th class="tableTitle">Game</th>
                <th class="tableTitle">Creator</th>
                <th class="tableTitle">Minimum Players</th>
                <th class="tableTitle">Maximum Players</th>
                <th class="tableTitle">Time</th>
                <th class="tableTitle">Day</th>
                <th class="tableTitle">Month</th>
                <th class="tableTitle">Year</th>
                <th class="tableTitle">Current Players</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.GameSessionModels.Count(); i++)
            {
                bool Display = true;
                bool DisplayJoin = true;
                var GameSessionUsers = Model.GameSessionModels.ElementAt(i).Users;
 
                foreach (var j in GameSessionUsers)
                {
                    if (j.UserId == Model.CurrentUserId)
                    {
                        DisplayJoin = false;
                    }
                }

                if (Display)
                {
                    <tr>
                        @if (DisplayJoin)
                        {
                            <td><input type="button" value="Join" onclick="location.href='@Url.Action("Join", "Invite", new { GameSessionToJoin = Model.GameSessionModels.ElementAt(i).GameSessionId })'" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@Model.GameSessionModels.ElementAt(i).GameName</td>
                        <td>@Model.GameSessionModels.ElementAt(i).Creator</td>
                        <td>@Model.GameSessionModels.ElementAt(i).MinimumPlayers</td>
                        <td>@Model.GameSessionModels.ElementAt(i).MaximumPlayers</td>
                        <td>@Model.GameSessionModels.ElementAt(i).Time</td>
                        <td>@Model.GameSessionModels.ElementAt(i).Day</td>
                        <td>@Model.GameSessionModels.ElementAt(i).Month</td>
                        <td>@Model.GameSessionModels.ElementAt(i).Year</td>

                        @if (Model.GameSessionModels.ElementAt(i).Users.Count() > 0)
                        {
                            <td>
                                @for (var j = 0; j < Model.GameSessionModels.ElementAt(i).Users.Count(); j++)
                                {
                                    @Model.GameSessionModels.ElementAt(i).Users.ElementAt(j).DisplayName
                                    <br />
                                }
                            </td>
                        }

                    </tr>
                }
            }
        </tbody>

    </table>
</div>
