
@model PlayNow.Models.RPGSessionViewModel
@{
    ViewBag.Title = "MyRPGSessionsIndex";
}


@Html.AntiForgeryToken()

<h2>Role Playing Game Sessions You're Involved In</h2>

<div>
    <table class="table">
        <thead>
            <tr style="margin-bottom:20px">
                <th class="tableTitle">Details</th>
                <th class="tableTitle">Edit</th>
                <th class="tableTitle">Invite</th>
                <th class="tableTitle">Game</th>
                <th class="tableTitle">Creator</th>
                <th class="tableTitle">GM</th>
                <th class="tableTitle">Minimum Players</th>
                <th class="tableTitle">Maximum Players</th>
                <th class="tableTitle">Time</th>
                <th class="tableTitle">Day</th>
                <th class="tableTitle">Month</th>
                <th class="tableTitle">Year</th>
                <th class="tableTitle">Repeats</th>
                <th class="tableTitle">Current Players</th>
                <th class="tableTitle">Players Needing Approval</th>
                <th class="tableTitle">Invited Players</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.RPGSessionModels.Count(); i++)
            {
                <tr>
                    <td><input type="button" value="Details" onclick="location.href='@Url.Action("Details", "RPGSession", new { RPGSessionDetails = Model.RPGSessionModels.ElementAt(i).RPGSessionId })'" /></td>
                    @if (Model.CurrentUserModel.DisplayName == Model.RPGSessionModels.ElementAt(i).Creator)
                    {
                        <td><input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "MyRPGSessions", new { RPGSessionToEdit = Model.RPGSessionModels.ElementAt(i).RPGSessionId })'" /></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (Model.RPGSessionModels.ElementAt(i).Users.Count() < Model.RPGSessionModels.ElementAt(i).MaximumPlayers && Model.CurrentUserModel.DisplayName == Model.RPGSessionModels.ElementAt(i).Creator)
                    {
                        <td><input type="button" value="Invite" onclick="location.href='@Url.Action("Invite", "MyRPGSessions", new { RPGSessionToInvite = Model.RPGSessionModels.ElementAt(i).RPGSessionId })'" /></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@Model.RPGSessionModels.ElementAt(i).RPGName</td>
                    <td>@Model.RPGSessionModels.ElementAt(i).Creator</td>
                    <td>@Model.RPGSessionModels.ElementAt(i).GMName</td>
                    <td>@Model.RPGSessionModels.ElementAt(i).MinimumPlayers</td>
                    <td>@Model.RPGSessionModels.ElementAt(i).MaximumPlayers</td>
                    <td>@Model.RPGSessionModels.ElementAt(i).Time</td>
                    <td>@Model.RPGSessionModels.ElementAt(i).Day</td>
                    <td>@Model.RPGSessionModels.ElementAt(i).Month</td>
                    <td>@Model.RPGSessionModels.ElementAt(i).Year</td>
                    <td>@Model.RPGSessionModels.ElementAt(i).Repeats</td>
                    @if (Model.RPGSessionModels.ElementAt(i).Users.Count() > 0)
                    {
                        <td>
                            @for (var j = 0; j < Model.RPGSessionModels.ElementAt(i).Users.Count(); j++)
                            {
                                @Model.RPGSessionModels.ElementAt(i).Users.ElementAt(j).DisplayName
                                <br />
                            }
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }

                    @if (Model.RPGSessionModels.ElementAt(i).UsersNeedingApproval.Count() > 0)
                    {
                        <td>
                            @for (var j = 0; j < Model.RPGSessionModels.ElementAt(i).UsersNeedingApproval.Count(); j++)
                            {
                                string CurrentUser = Model.RPGSessionModels.ElementAt(i).UsersNeedingApproval.ElementAt(j).DisplayName;
                                @Model.RPGSessionModels.ElementAt(i).UsersNeedingApproval.ElementAt(j).DisplayName
                                <input type="button" value="Approve" onclick="location.href='@Url.Action("Approve", "MyRPGSessions", new { ApprovedRPGSession = Model.RPGSessionModels.ElementAt(i).RPGSessionId, ApprovedId = Model.RPGSessionModels.ElementAt(i).UsersNeedingApproval.ElementAt(j).UserId })'" />
                                <input type="button" value="Deny" onclick="location.href='@Url.Action("Deny", "MyRPGSessions", new { DeniedRPGSession = Model.RPGSessionModels.ElementAt(i).RPGSessionId, DeniedId = Model.RPGSessionModels.ElementAt(i).UsersNeedingApproval.ElementAt(j).UserId })'" />
                            }
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (Model.RPGSessionModels.ElementAt(i).InvitedUsers.Count() > 0)
                    {
                        <td>
                            @for (var j = 0; j < Model.RPGSessionModels.ElementAt(i).InvitedUsers.Count(); j++)
                            {
                                @Model.RPGSessionModels.ElementAt(i).InvitedUsers.ElementAt(j).DisplayName
                                <br />
                            }
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>

    </table>

</div>

