@model PlayNow.Models.GameViewModel
@{
    ViewBag.Title = "GameIndex";
}

<h2>Create a new game</h2>

@using (Html.BeginForm("NewGameResult", "Game", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter Game Information</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MinimumPlayers, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MinimumPlayers, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MaximumPlayers, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MaximumPlayers, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add a game" />
        </div>
    </div>


    <div>
        <table class="table">
            <thead>
                <tr style="margin-bottom:20px">
                    <th class="tableTitle">Name</th>
                    <th class="tableTitle">Minimum Players</th>
                    <th class="tableTitle">Maximum Players</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.GameModels.Count(); i++)
                {
                    <tr>
                        <td>@Model.GameModels.ElementAt(i).Name</td>
                        <td>@Model.GameModels.ElementAt(i).MinimumPlayers</td>
                        <td>@Model.GameModels.ElementAt(i).MaximumPlayers</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}

